[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
isort = "*"
"flake8" = "*"
"flake8-builtins" = "*"
ipython = "*"

[requires]
python_version = "3.7"
