[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"

[dev-packages]
isort = "*"
pylint = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-quotes = "*"
ipython = "*"
#py2neo = "*"
pytest = "*"

[requires]
python_version = "3.7.3"
