## Solutions to Google Code Jam problems

See `README`s in the per year folders:

{% for year in years %}
* [{{ year.name }}](https://github.com/yarmash/codejam/tree/master/{{ year.name }})
{% endfor %}
